    .my-align-right {
        text-align: right;
    }
    
    .my-align-left {
        text-align: right;
    }
    
    .my-align-center {
        text-align: right;
    }
    
    .my-bg-color-1 {
        background-color: antiquewhite;
    }
    
    .a {
        color: black !important;
        text-decoration: none !important;
        font-weight: 600;
        opacity: .8;
        padding: 10px;
    }
    
    .a-active {
        color: orangered !important;
        text-decoration: none !important;
        font-weight: 600;
        opacity: .8;
        border-bottom: 2px groove orangered;
        padding: 10px;
    }
    
    .a:hover {
        color: orangered !important;
        text-decoration: none !important;
        font-weight: 600;
        opacity: .8;
        border-bottom: 2px groove orangered;
        padding: 10px;
    }
    
    .my-header-text {
        color: black;
        font-weight: 700;
        opacity: .6;
    }